/* color palette 
Slate: #262626
Secondhand Grey: #3f3f3f 
Whitish: #f5f5f5
Light grey: #dcdcdc
*/

body {
    background-color: #262626;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #f5f5f5;
    letter-spacing: 3px;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.8em;
    line-height: 1.6em;
}

h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: 'Spectral', serif;
    color: #f5f5f5;
    letter-spacing: 1px;
}

p {
    font-family: 'Spectral', serif;
    color: #262626;
    letter-spacing: 1px;
}

header {
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #262626;
}

.header-img,
.header-text {
    min-height: auto;
    width: 40%;
    text-align: center;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    height: 275px;
    width: 275px;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.458);
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top,
.middle,
.bottom {
    margin: 15px;
}

.top {
    line-height: 10px;
    margin-bottom: 5px;
}

.middle {
    max-width: 70%;
    margin: 0 15px;
}

#resume-button {
    height: 60px;
    width: 250px;
    line-height: 7px;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    background-color: #262626;
}

.button-container {
    height: 50px;
    width: 100%;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: end;
}

.tab {
    margin: 0 10%;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    color: #f5f5f5;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
}

.main-block {
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
    padding: 30px 0 10px 0;
}

.projects-content {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    height: auto;
    margin: 10px 0 50px 0;
}

.projects-content h4 {
    color: #262626;
}

.tab-active {
    background-color: #f5f5f5;
    color: #262626;
    height: 45px;
    margin-bottom: -5px;
}

button:hover {
    cursor: pointer;
}

.item {
    min-height: 350px;
    width: 20%;
    margin: 5px 15px;
}

.show-img-container {
    height: auto;
    width: 100%;
}

.show-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-description {
    height: auto;
}

.project-description h2 {
    color: #262626;
    margin: 0px 0 20px 0;
    line-height: 30px;
}

.project-description h4 {
    line-height: 15px;
    margin-top: -5px;
}

.project-description h2,
.project-description h4 {
    padding: 0 20px 0 20px;
}

.about-content {
    justify-content: center;
    align-items: center;
    display: none;
}

.about-text {
    width: 80%;
    min-height: 500px;
    height: auto;
}

.about-text p {
    padding: 30px 0 60px 0;
}

.socials-content {
    height: auto;
    display: none;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.socials img {
    height: auto;
    width: 15vw;
    margin: 30px 6%;
}

@media all and (min-width: 1100px) {
    .item {
        width: 28%;
    }
 }

@media all and (min-width: 800px) and (max-width: 1100px) {
    .item {
        width: 42%;
    }

    .top {
        font-size: 0.8em;
    }

    .middle {
        max-width: 80%;
    }
 }

@media all and (max-width: 800px) {
    .item {
        width: 90%;
    }

    .top {
        font-size: 0.8em;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-container {
        height: 175px;
        width: 175px;
        margin: 50px 0 20px 0;
    }

    .header-text {
        width: 70%;
    }

    .middle {
        max-width: 100%;
        margin: 0;
    }

    #resume-button {
        margin-bottom: 30px;
    }

 }
